# ===============================
# DATABASE CONFIG (MASTER)
# ===============================
MASTER_DB_NAME=cbs
MASTER_DB_USER=postgres
MASTER_DB_PASSWORD=postgres
MASTER_DB_HOST=localhost
MASTER_DB_PORT=5432
MASTER_SSL_MODE=disable
TIME_ZONE=Asia/Dhaka

# ===============================
# CONNECTION POOL SETTINGS
# ===============================
SET_MAX_IDLE_CONNECTIONS=10
SET_MAX_OPEN_CONNECTIONS=100
SET_CONNECTION_MAX_IDLE_TIME=5m
SET_CONNECTION_MAX_LIFE_TIME=30m

# ===============================
# RETRY CONFIG
# ===============================
DB_MAX_RETRIES=10
DB_INITIAL_DELAY=2s

# ===============================
# DEBUG / LOGGING
# ===============================
DB_DEBUG=false
